{% capture hide %} --- use a wasted capture to prevent empty output lines
{%   assign CVElements = site.collections | where:"label","CVElements" | first %}
{%   assign CVElements = site.data.CVElements %}
{%   capture widgetlist %}
{%     for widget in CVElements.widgets %}
{%       if widget.manual contains page.lang %}
[{{        widget.name }}]({{ widget.manual[page.lang] }})
{%       else %}
{{         widget.name }}
{%       endif %}
: {{     widget.description[page.lang] }}{% if widget contains "screenshot" %}  {% 
           assign screenshot = widget.screenshot[page.lang] %}{%
           if screenshot == null %}{% 
             assign screenshot = widget.screenshot %}{% 
           endif %}
  ![{{ widget.name }}]({{ screenshot }})
{%       endif %}
{%     endfor %}
{%   endcapture %}
{%   capture pluginlist %}
{%     for plugin in CVElements.plugins %}
{%       if plugin.manual contains page.lang %}
[{{        plugin.name }}]({{ plugin.manual[page.lang] }})
{%       else %}
{{         plugin.name }}
{%       endif %}
: {{     plugin.description[page.lang] }}{% if plugin contains "screenshot" %}  {% 
           assign screenshot = plugin.screenshot[page.lang] %}{%
           if screenshot == null %}{% 
             assign screenshot = plugin.screenshot %}{% 
           endif %}
  ![{{ plugin.name }}]({{ screenshot }})
{%       endif %}
{%     endfor %}
{%   endcapture %}
{% endcapture %}