{% comment %} 

Handle the gitHub data structure to extract what we are interested in.

-------------------------------------------------------------------------------
Get the version number of the latest release:
{% endcomment %}
{% assign newestVersion = site.github.releases | map:"tag_name" | first | remove_first:"v" %}
{% comment %} 
-------------------------------------------------------------------------------
Get the table of all contributors:
{% endcomment %}
{% capture contributorsTable %}
{% for contributor in site.data.contributors %}
<div class="contributor" itemscope itemtype="http://schema.org/Person">
<meta itemprop="homeLocation" content="{{ site.baseurl }}" />
<img src="{{ contributor.avatar_url }}" width="100" alt="{{ contributor.login }}: {{ contributor.contributions }} {{ site.t[page.lang].commits }}" title="{{ contributor.login }}: {{ contributor.contributions }} {{ site.t[page.lang].commits }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject" />
<a href="{{ contributor.html_url }}" itemprop="name">{{ contributor.login }}</a>
</div>
{% endfor %}
{% endcapture %}