<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include head.html %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- Place either at the bottom in the <head> of your page or inside your CSS -->
    <link href="lib/lightbox/css/lightbox.css" rel="stylesheet">
  </head>
  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}
      
      {% comment %}
      
      Show all images in the order of the versions defined in _config.yml.
      The algorithm iterates over the known versions and then in the loop
      over all files. When the file belongs to the currently displayed version
      it's put to the output variable `versionContent`.
      At the end all files that belong to no known version are shown.
      
      {% endcomment %}
      {% assign screenshots = site.collections | where:"label","screenshotFiles" | first %}
      {% assign versions = screenshots.descriptions | map:'dir' %}
      {% assign paths = screenshots.files | map:'path' %}
      {% for version in versions %}
        {% assign desc = screenshots.descriptions | where:"dir",version | first | map:"title" | first %}
        {% assign useVersion = false %}
        {% capture versionContent %}
        <p>
        {{ desc[page.lang] }}<br/>
        {% for path in paths %}
          {% assign pathSplit = path | split:'/' %}
          {% if version == pathSplit[2] %}
            {% assign useVersion = true %}
            <a href="{{ path | remove_first:'_' }}" data-title="{{ desc[page.lang] }}" data-lightbox="thumb"><img src="{{ path | remove_first:'_' }}" class="thumbnail"/></a>
          {% endif %}
        {% endfor %}
        </p>
        {% endcapture %}
        {% if useVersion %}
          {{ versionContent }}
        {% endif %}
      {% endfor %}
      {% assign useVersion = false %}
      {% capture versionContent %}
      <p>
        {{ desc[page.lang] }}<br/>
        {% for path in paths %}
          {% assign pathSplit = path | split:'/' %}
          {% if versions contains pathSplit[2] %}
          {% else %}
            {% assign useVersion = true %}
            <a href="{{ path | remove_first:'_' }}" data-lightbox="thumb"><img src="{{ path | remove_first:'_' }}" class="thumbnail"/></a>
          {% endif %}
        {% endfor %}
      </p>
      {% endcapture %}
      {% if useVersion %}
        {{ versionContent }}
      {% endif %}
      
    </section>
    
    {% include page-footer.html %}

    <script src="lib/lightbox/js/lightbox.js"></script>
    <script>
      lightbox.option({
        albumLabel: '{{ screenshots.text.imageAofB[page.lang] }}'
      })
    </script>
  </body>
</html>
