<!DOCTYPE html>
<html lang="{{ page.lang }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
    
      {% assign posts=site.posts | where:"lang", page.lang %}
<ul>
{% for post in posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<p><a href="https://travis-ci.org/CometVisu/CometVisu"><img src="https://travis-ci.org/CometVisu/CometVisu.svg?branch=develop" alt="Build Status"></a> <a href="https://coveralls.io/github/CometVisu/CometVisu?branch=develop"><img src="https://coveralls.io/repos/github/CometVisu/CometVisu/badge.svg?branch=develop" alt="Coverage Status"></a>
<a href="https://gitter.im/CometVisu/CometVisu?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://badges.gitter.im/CometVisu/CometVisu.svg" alt="Join the chat at https://gitter.im/CometVisu/CometVisu"></a></p>
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
