---
layout: default
---

<ul itemscope itemtype="http://schema.org/Blog">
{% assign posts=site.posts | where:"lang", "en" %}
{% for default in posts %}
  {% assign translation = site.posts | where:"ref", default.ref | where:"lang", page.lang %}
  {% if translation[0] %}
    {% assign post = translation[0] %}
  {% else %}
    {% assign post = default %}
  {% endif %}
  <li itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="{{ post.url }}" />
    <span><time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
    <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>{% unless post.lang == page.lang %}[{{ post.lang }}]{% endunless %}
    <div itemprop="description">{{ post.excerpt }}</div>
  </li>
{% endfor %}
</ul>


{{ content }}