---
layout: default
backdrop: /media/news.jpg
---

{% include posthandler.html %}

<div itemscope itemtype="https://schema.org/BlogPosting" id="content">
  <meta itemprop="creator" content="{{ site.t[page.lang].author }}">
  <meta itemprop="author" content="{{ site.t[page.lang].author }}">
  <meta itemprop="license" content="https://creativecommons.org/licenses/by/4.0/">
  <link itemprop="mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}" />
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.baseurl }}/media/comet_icon_512x512_ff8000.png">
    <meta itemprop="width" content="512">
    <meta itemprop="height" content="512">
  </div>

  <div class="prevnext">
    {% if previous %}
      <a href="{{ previous.url }}#content">&lt;&lt;&lt; {{ previous.title }}</a>{% unless previous.lang == page.lang %}[{{ previous.lang }}]{% endunless %}
    {% endif %}
    
    {% if previous and next %}
    ...
    {% endif %}
    
    {% if next %}
      <a href="{{ next.url }}#content">{{ next.title }}{% unless next.lang == page.lang %}</a>[{{ next.lang }}]<a href="{{ next.url }}">{% endunless %} &gt;&gt;&gt;</a>
    {% endif %}
  </div>
  
<h1 itemprop="headline">{{ page.title }}</h1>
<p class="meta">
  <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date_to_long_string }}
  </time>
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{{ site.baseurl }}/media/comet_icon_512x512_ff8000.png">
    </div>
    <meta itemprop="name" content="CometVisu">
  </div>
  <meta itemprop="dateModified" content="{{ site.time | date_to_xmlschema }}"/>
</p>

<div itemprop="articleBody">
  {% if page.historic %}<div class="historic">This is a historic release when the CometVisu was hosted on SourceForge</div>{% endif %}
  {{ content }}
</div>

</div>