---
layout: default
---

{% include posthandler.html %}

<div itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="creator" content="{{ site.author.name }}">
  <meta itemprop="author" content="{{ site.author.name }}">
  <meta itemprop="license" content="https://creativecommons.org/licenses/by/4.0/">
  <link itemprop="mainEntityOfPage" href="{{ site.url }}" />
  <meta itemprop="image" content="/media/comet_icon_512x512_ff8000.png">

  {% if previous %}
  &lt;&lt;&lt;
    <a href="{{ previous.url }}">{{ previous.title }}</a>{% unless previous.lang == page.lang %}[{{ previous.lang }}]{% endunless %}
  {% endif %}
  
  {% if previous and next %}
  ...
  {% endif %}
  
  {% if next %}
    <a href="{{ next.url }}">{{ next.title }}</a>{% unless next.lang == page.lang %}[{{ next.lang }}]{% endunless %}
  &gt;&gt;&gt;
  {% endif %}
  
<h1 itemprop="headline">{{ page.title }}</h1>
<p class="meta">
  <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date_to_long_string }}
  </time>
</p>

<div itemprop="articleBody">
  {{ content }}
</div>

</div>